<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="">
    <div class="card-group  d-none d-sm-block">
        <div class="row mb-3 no-gutters bg equal-height-columns ">

            <div class="col-md-3 themed-grid-col">

                <div class="card bg-primary card-height">
                    <div class=" card-body mt-1 input-group-sm">
                        <input type="text" class="form-control " placeholder="Group Name . . . " aria-label="Group Name"
                            aria-describedby="button-addon2">

                        <button class="btn btn-sm btn-light btn-block my-1 mt-2" type="button">Create Broadcast
                            Group</button>

                    </div>

                    <div class="card-body mt-5">
                        <div class="list-group mt-2">
                            <div class="input-group mb-3 input-group-sm">
                                <input type="text" class="form-control" placeholder="Search Groups"
                                    aria-label="Recipient's Groups" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary bg-white" type="button" id="button-addon2"><svg
                                            class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16"
                                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd"
                                                d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                                clip-rule="evenodd" />
                                            <path fill-rule="evenodd"
                                                d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                                clip-rule="evenodd" />
                                        </svg></button>
                                </div>
                            </div>

                            <div class="text-center groups">

                                <div >
                                    <button class="btn btn-sm btn-light text-center btn-block my-1 "
                                    type="button"> OWNED GROUPS
                                    </button>
                                    <div class="owned-groups"> 
                                        <div class="ul member-groups-list">
                                            <li></li>
                                        </div>
                                    </div>
                                </div> 
                                
                                <div class="mt-4">
                                    <button class="btn btn-sm btn-light btn-block my-1"
                                    type="button"> MEMBER GROUP 
                                    </button>
                                    <div class="member-groups"> 
                                        <div class="ul member-groups-list">
                                            <li></li>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 themed-grid-col ">
                <div class="card card-height">
                    <div class="card-body bg-center">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This card has even longer content than the first to show that equal height action.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>

                    </div>
                </div>
            </div>
            <div class="col-md-3 themed-grid-col ">

                <div class="card bg-primary card-body card-height">



                    <div class="card-body text-center mt-5">
                        <img src="./ronaldo.jpg" width="50" height="55" class="rounded-circle" alt="user profile picture">
                        <p class="card-title font-weight-bold">Cristiano Ronaldo </p>
                        <p class="card-text "> +234-7038792688</p>
                    </div>


                    <div class="list-group mb-5">
                        <div class=" mb-5">
                            <div class=" mb-2">
                                <button class="btn btn-sm btn-light btn-block my-1" type="button">Media</button>
                            </div>
                            <div class=" mb-2">
                                <button class="btn btn-sm btn-light btn-block my-1" type="button">Document</button>
                            </div>
                            <div class=" mb-2">
                                <button class="btn btn-sm btn-light btn-block my-1" type="button">Links</button>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="mobile  bg d-block d-sm-none">
        <div class=" container-sm mt-3">
            <nav class="navbar navbar-light bg-primary ">
                <a class="navbar-brand " href="#">
                    <img src="./ronaldo.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
                    <span class="username text-white"> Cristiano Ronaldo </span>

                </a>
            </nav>
        </div>


        <div class=" card-body mt-1 input-group-sm mt-3">
            <input type="text" class="form-control " placeholder="Group Name . . . " aria-label="Group Name"
                aria-describedby="button-addon2">

            <button class="btn btn-sm btn-light btn-block my-1 mt-2 bg-primary text-white" type="button">Create
                Broadcast
                Group</button>

        </div>

        <div class="container-sm contacts mt-5">
            <div class="card bg-primary card-height">
                <div class="card-body mt-2">
                    <div class="list-group mt-2">
                        <div class="input-group mb-3 input-group-sm">
                            <input type="text" class="form-control" placeholder="Search Groups"
                                aria-label="Recipient's Groups" aria-describedby="button-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary bg-white" type="button" id="button-addon2"><svg
                                        class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                            clip-rule="evenodd" />
                                        <path fill-rule="evenodd"
                                            d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                            clip-rule="evenodd" />
                                    </svg></button>
                                   
                            </div>
                        </div>

                        <div class="text-center groups">

                            <div >
                                <button class="btn btn-sm btn-light text-center btn-block my-1 "
                                type="button"> OWNED GROUPS
                                </button>
                                <div class="owned-groups"> 
                                    <div class="ul member-groups-list">
                                        <li></li>
                                    </div>
                                </div>
                            </div> 
                            
                            <div class="mt-4">
                                <button class="btn btn-sm btn-light btn-block my-1"
                                type="button"> MEMBER GROUP 
                                </button>
                                <div class="member-groups"> 
                                    <div class="ul member-groups-list">
                                        <li></li>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>

            </div>
        </div>

        </div>
    </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>