<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="">
    <div class="card-group  d-none d-sm-block">
        <div class="row mb-3 no-gutters bg equal-height-columns ">

            <div class="col-md-3 themed-grid-col">

                <div class="card bg-primary card-height">
                    <div class=" card-body mt-1 input-group-sm">
                        

                        <button class="btn btn-sm btn-light btn-block my-1 mt-2" type="button">
                            GROUPS</button>

                    </div>

                    <div class="card-body mt-5">
                        <div class="list-group mt-2">
                            

                            <div class="overflow-auto contacts">

                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1"
                                    type="button"> <img src="./ronaldo.jpg" class="btn-img pt-1" alt=""> <p class="pt-2">Name of Class</p>  <p class="btn-primary p-1 btn-total mt-1">12</p></button>
                                
                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                                    <p class="pt-2">Name of Class</p>
                                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                                </button>

                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                                    <p class="pt-2">Name of Class</p>
                                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                                </button>

                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                                    <p class="pt-2">Name of Class</p>
                                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 themed-grid-col ">
                <div class="card card-height">
                    <div class="card-body bg-center ">
                        
                        
                        
                            <div class="form-group shadow-textarea textarea-container">

                                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                                    placeholder="Write something here..."></textarea>
                            </div>
                        
                    
                </div>
            </div>
            </div>

            <div class="col-md-3 themed-grid-col ">

                <div class="card bg-primary card-body card-height">



                    <div class="card-body text-center mt-5">
                        <img src="./ronaldo.jpg" width="50" height="55" class="rounded-circle" alt="user profile picture">
                        <p class="card-title font-weight-bold">Cristiano Ronaldo </p>
                        <p class="card-text "> +234-7038792688</p>
                    </div>


                    <div class="list-group mb-5">

                        <div>
                            <button class="btn btn-sm btn-light btn-block my-1" type="button">Media</button>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-light btn-block my-1" type="button">Document</button>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-light btn-block my-1" type="button">Links</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="mobile  bg d-block d-sm-none">
        <div class=" container-sm mt-3">
            <nav class="navbar navbar-light bg-primary ">
                <a class="navbar-brand " href="#">
                    <img src="./ronaldo.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
                    <span class="username text-white"> Cristiano Ronaldo </span>

                </a>
            </nav>
        </div>


        <div class=" card-body mt-1 input-group-sm mt-3">
            <input type="text" class="form-control " placeholder="Group Name . . . " aria-label="Group Name"
                aria-describedby="button-addon2">

            <button class="btn btn-sm btn-light btn-block my-1 mt-2 bg-primary text-white" type="button">Create
                Broadcast
                Group</button>

        </div>

        <div class="container-sm contacts mt-5">
            <div class="input-group mb-3 input-group-sm">
                <input type="text" class="form-control" placeholder=" Search Contact"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"><svg
                            class="bi bi-search" width="1em" height="1em" viewBox="0 0 16 16"
                            fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M10.442 10.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                                clip-rule="evenodd" />
                            <path fill-rule="evenodd"
                                d="M6.5 12a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM13 6.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                                clip-rule="evenodd" />
                        </svg></button>
                </div>
            </div>

            <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between" type="button"> Contact
                <svg class="bi bi-person-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm4.5 0a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z"
                        clip-rule="evenodd" />
                </svg> </button>
            <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between" type="button"> Contact
                <svg class="bi bi-person-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm4.5 0a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z"
                        clip-rule="evenodd" />
                </svg> </button>
            <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between" type="button"> Contact
                <svg class="bi bi-person-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm4.5 0a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z"
                        clip-rule="evenodd" />
                </svg> </button>
            <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between" type="button"> Contact
                <svg class="bi bi-person-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm4.5 0a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z"
                        clip-rule="evenodd" />
                </svg> </button>
            <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between" type="button"> Contact
                <svg class="bi bi-person-plus" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M11 14s1 0 1-1-1-4-6-4-6 3-6 4 1 1 1 1h10zm-9.995-.944v-.002.002zM1.022 13h9.956a.274.274 0 00.014-.002l.008-.002c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664a1.05 1.05 0 00.022.004zm9.974.056v-.002.002zM6 7a2 2 0 100-4 2 2 0 000 4zm3-2a3 3 0 11-6 0 3 3 0 016 0zm4.5 0a.5.5 0 01.5.5v2a.5.5 0 01-.5.5h-2a.5.5 0 010-1H13V5.5a.5.5 0 01.5-.5z"
                        clip-rule="evenodd" />
                    <path fill-rule="evenodd" d="M13 7.5a.5.5 0 01.5-.5h2a.5.5 0 010 1H14v1.5a.5.5 0 01-1 0v-2z"
                        clip-rule="evenodd" />
                </svg> </button>
          
        </div>

    </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>