<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main page</title>
    <link rel="stylesheet" href="./style.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body class="">
    <div class="card-group  d-none d-sm-block">
        <div class="row mb-3 no-gutters bg equal-height-columns ">

            <div class="col-md-3 themed-grid-col">

                <div class="card bg-primary card-height">
                    <div class=" card-body mt-1 input-group-sm">
                        

                        <button class="btn btn-sm btn-light btn-block my-1 mt-2" type="button">
                            GROUPS</button>

                    </div>

                    <div class="card-body mt-5">
                        <div class="list-group mt-2">
                            

                            <div class="overflow-auto contacts">

                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1"
                                    type="button"> <img src="./ronaldo.jpg" class="btn-img pt-1" alt=""> <p class="pt-2">Name of Class</p>  <p class="btn-primary p-1 btn-total mt-1">12</p></button>
                                
                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                                    <p class="pt-2">Name of Class</p>
                                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                                </button>

                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                                    <p class="pt-2">Name of Class</p>
                                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                                </button>

                                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                                    <p class="pt-2">Name of Class</p>
                                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-6 themed-grid-col ">
                <div class="card card-height">
                    <div class="card-body bg-center ">
                        
                        
                        
                            <div class="form-group shadow-textarea textarea-container">

                                <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
                                    placeholder="Write something here..."></textarea>
                            </div>
                        
                    
                </div>
            </div>
            </div>

            <div class="col-md-3 themed-grid-col ">

                <div class="card bg-primary card-body card-height">



                    <div class="card-body text-center mt-5">
                        <img src="./ronaldo.jpg" width="50" height="55" class="rounded-circle" alt="user profile picture">
                        <p class="card-title font-weight-bold">Cristiano Ronaldo </p>
                        <p class="card-text "> +234-7038792688</p>
                    </div>


                    <div class="list-group mb-5">

                        <div>
                            <button class="btn btn-sm btn-light btn-block my-1" type="button">Media</button>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-light btn-block my-1" type="button">Document</button>
                        </div>
                        <div>
                            <button class="btn btn-sm btn-light btn-block my-1" type="button">Links</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <div class="mobile  bg d-block d-sm-none">
        <div class=" container-sm mt-3">
            <nav class="navbar navbar-light bg-primary ">
                <a class="navbar-brand " href="#">
                    <img src="./ronaldo.jpg" width="40" height="40" class="d-inline-block align-top" alt="">
                    <span class="username text-white"> Cristiano Ronaldo </span>

                </a>
            </nav>
        </div>


        <div class=" card-body mt-1 input-group-sm mt-3">
            <button class="btn btn-sm btn-primary btn-block my-1 mt-2" type="button">
                GROUPS</button>

        </div>

        <div class="container-sm contacts mt-5">
         <div class="card bg-primary">
        <div class="card-body mt-2">
        <div class="list-group mt-2">
        
                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                    <p class="pt-2 para-mobile">Name of Class</p>
                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                </button>
        
                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                    <p class="pt-2 para-mobile">Name of Class</p>
                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                </button>
        
                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                    <p class="pt-2 para-mobile">Name of Class</p>
                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                </button>
        
                <button class="btn btn-sm btn-light btn-block my-1 d-flex justify-content-between p-1" type="button"> <img
                        src="./ronaldo.jpg" class="btn-img pt-1" alt="">
                    <p class="pt-2 para-mobile">Name of Class</p>
                    <p class="btn-primary p-1 btn-total mt-1">12</p>
                </button>
            </div>
        
          
          
        </div>
    </div>
    <div class="form-group shadow-textarea textarea-container-mobile">
    
        <textarea class="form-control z-depth-1" id="exampleFormControlTextarea6" rows="3"
            placeholder="Write something here..."></textarea>
    </div>
    </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>