<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Groups</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="mobile-view-container">
        <div class="row">
          <div class="col-12 profile-container">
            <div class="profile-contact">
              <div class="img-container">
                <img src="./img/pic.jpg" class="person-img" alt="" />
              </div>

              <div class="contact-details">
                <p class="userName">
                  <span class="p_user">Joseph Johnson </span>
                  <br />
                  <span class="p_user_contact">+234 903 54 746 86 </span>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="main-container">
            <div class="badge badge-primary badge-group-container">
              <h6 class="group-heading">GROUPS</h6>
            </div>

            <div class="main-body">
              <div class="icons-box">
                <i class="fa fa-bullhorn fa-2x icons-display"></i>
                <i class="fa fa-users fa-2x icons-display"></i>
                <i class="fa fa-bell fa-2x icons-display"></i>
              </div>

              <div class="chats-container">
                <div class="chats-holder">
                  <div class="chats-box">
                    <div class="chats-img chat-box-content">
                      <img src="./img/pic.jpg" alt="" class="img-chat-box" />
                    </div>

                    <div class="group-name chat-box-content">
                      <p class="group-name-para">ITAEWON CLASS</p>
                    </div>

                    <div class="total-chat chat-box-content">
                      <p class="total-chat-para">19</p>
                    </div>
                  </div>

                  <div class="chats-box">
                    <div class="chats-img">
                      <img src="./img/pic.jpg" alt="" class="img-chat-box" />
                    </div>

                    <div class="group-name">
                      <p class="group-name-para">ITAEWON CLASS</p>
                    </div>

                    <div class="total-chat">
                      <p class="total-chat-para">19</p>
                    </div>
                  </div>

                  <div class="chats-box">
                    <div class="chats-img">
                      <img src="./img/pic.jpg" alt="" class="img-chat-box" />
                    </div>

                    <div class="group-name">
                      <p class="group-name-para">ITAEWON CLASS</p>
                    </div>

                    <div class="total-chat">
                      <p class="total-chat-para">19</p>
                    </div>
                  </div>

                  <div class="chats-box">
                    <div class="chats-img">
                      <img src="./img/pic.jpg" alt="" class="img-chat-box" />
                    </div>

                    <div class="group-name">
                      <p class="group-name-para">ITAEWON CLASS</p>
                    </div>

                    <div class="total-chat">
                      <p class="total-chat-para">19</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Web View -->
    <div class="web-view-holder">
      <div class="web-icons">
        <div class="main-body-1">
          <div class="icons-box-1">
            <button class="btn btn-1">
              <i class="fa fa-bullhorn fa-2x btn-color-1"></i>
            </button>
            <button class="btn btn-1">
              <i class="fa fa-users fa-2x btn-color-1"></i>
            </button>
            <button class="btn btn-1">
              <i class="fa fa-bell fa-2x btn-color-1"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="web-groups">
        <div class="group-heading-web">
          <button class="btn btn-primary btn-color">GROUPS</button>
        </div>

        <div class="chats-holder">
          <div class="chats-box">
            <div class="chats-img chat-box-content">
              <img src="./img/pic.jpg" alt="" class="img-chat-box" />
            </div>

            <div class="group-name chat-box-content">
              <p class="group-name-para">ITAEWON CLASS</p>
            </div>

            <div class="total-chat chat-box-content">
              <p class="total-chat-para">19</p>
            </div>
          </div>

          <div class="chats-box">
            <div class="chats-img">
              <img src="./img/pic.jpg" alt="" class="img-chat-box" />
            </div>

            <div class="group-name">
              <p class="group-name-para">ITAEWON CLASS</p>
            </div>

            <div class="total-chat">
              <p class="total-chat-para">19</p>
            </div>
          </div>

          <div class="chats-box">
            <div class="chats-img">
              <img src="./img/pic.jpg" alt="" class="img-chat-box" />
            </div>

            <div class="group-name">
              <p class="group-name-para">ITAEWON CLASS</p>
            </div>

            <div class="total-chat">
              <p class="total-chat-para">19</p>
            </div>
          </div>

          <div class="chats-box">
            <div class="chats-img">
              <img src="./img/pic.jpg" alt="" class="img-chat-box" />
            </div>

            <div class="group-name">
              <p class="group-name-para">ITAEWON CLASS</p>
            </div>

            <div class="total-chat">
              <p class="total-chat-para">19</p>
            </div>
          </div>
        </div>
      </div>

      <div class="web-comments">
        <div class="web-comments-container">
          <div class="comments-class-name">
            <button class="comments-para btn btn-primary btn-color">
              ITAEWON CLASS
            </button>
          </div>
          <div class="comments-add-icon">
            <button class="btn btn-primary">
              <i class="fa fa-user-plus fa-2x btn-color-1"></i>
            </button>
          </div>
          <div class="comments-contact-icon">
            <button class="btn btn-primary">
              <i class="fa fa-users fa-2x btn-color-1"></i>
            </button>
          </div>
          <div class="comments-delete-icon">
            <button class="btn btn-primary">
              <i class="fa fa-trash fa-2x btn-color-1"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="web-profile">
        <div class="web-profile-container">
          <div class="web-profile-userImage">
            <img src="./img/pic.jpg" alt="" class="userImage" />
          </div>

          <div class="web-profile-contact">
            <p class="cont-1"><strong>Joseph Johnson</strong></p>
            <p class="cont-2">+234 90 346 786 85</p>
          </div>

          <div class="web-media">
            <button class="btn btn-primary media btn-color">MEDIA</button>
          </div>

          <div class="web-documents">
            <button class="btn btn-primary documents btn-color">
              DOCUMENTS
            </button>
          </div>

          <div class="web-links">
            <button class="btn btn-primary link btn-color">LINKS</button>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
    <script src="./main.js"></script>
  </body>
</html>
