* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.bg {
  background: url('./Capstone-web.jpg') no-repeat;
  width: 100%;
  height: 100%;
  background-size: 100%;
}



.rounded-circle {
  width: 5rem;
  height: 5rem;
}


.contacts {
  height: 10rem;
}

.col-md-3 {
  height: 100vh;
}

.card-height {
  height: 100%;
}

.btn-img {
  width: 10%;
  border-radius: 50%;
}

.btn-total {
  border-radius: 10px;
}

.para-mobile {
  font-size: 25px;
}

.textarea-container {
  position: relative;
  bottom: -420px;
}

.textarea-container-mobile{
  margin: 10px 0 0 0;
}

@media (min-width: 768px) {
  .bg-center {
    background: url('./Capstone-web.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 180%;
  }
}

@media (max-width: 768px) {

  .bg {
    background: url('./Capstone-mobile.jpg') no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
  }

  .container {
    position: relative;
    top: 40vh;
  }

}