*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.post-it {
  font-size: 45px;
}

.body-container {
  background: #56CCF2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1464ff, #2196f3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
overflow: hidden;
}




































/* 
.bg{
 background: url('./Capstone-web.jpg') no-repeat;
 width: 100%;
 height: 100%;
 background-size: 100%;
}



.rounded-circle{
 width: 5rem;
 height: 5rem;
}


.contacts{
 height: 10rem;
}

.col-md-3{
 height: 100vh;
}

.card-height{
 height: 100%;
}

@media (min-width: 768px) {
 .bg-center{
   background: url('./Capstone-web.jpg') no-repeat;
   width: 100%;
   height: 100vh;
   background-size: 180%;
 }
}

@media (max-width: 768px) {

 .bg{
   background: url('./Capstone-mobile.jpg') no-repeat;
   width: 100%;
   height: 100vh;
   background-size: 100%;
 }

 .container{
   position: relative;
   top: 40vh;
 }
 
} */
